/******************** FONTS ********************/
/*** PLUTO ***/
/* Light */
@font-face { font-family: 'Pluto'; src: url("../fonts/pluto/PlutoLight.otf"); font-weight: 300; font-style: normal; }

/* Regular */
@font-face { font-family: 'Pluto'; src: url("../fonts/pluto/PlutoRegular.otf"); font-weight: normal; font-style: normal; }

/* Medium */
@font-face { font-family: 'Pluto'; src: url("../fonts/pluto/PlutoMedium.otf"); font-weight: 500; font-style: normal; }

/* Bold */
@font-face { font-family: 'Pluto'; src: url("../fonts/pluto/PlutoBold.otf"); font-weight: 600; font-style: normal; }

/* Black */
@font-face { font-family: 'Pluto'; src: url("../fonts/pluto/PlutoBlack.otf"); font-weight: 800; font-style: normal; }

/*** PLUTO SANS ***/
/* Regular */
@font-face { font-family: 'Pluto Sans'; src: url("../fonts/plutosans/PlutoSansRegular.otf"); font-weight: normal; font-style: normal; }

/* Bold */
@font-face { font-family: 'Pluto Sans'; src: url("../fonts/plutosans/PlutoSansBold.otf"); font-weight: 600; font-style: normal; }

/*** PLUTO SANS COND ***/
@font-face { font-family: 'Pluto Sans Cond'; src: url("../fonts/plutosans/PlutoSansCondLight.otf"); font-weight: 300; font-style: normal; }

@font-face { font-family: 'Pluto Sans Cond'; src: url("../fonts/plutosans/PlutoSansCondRegular.otf"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Pluto Sans Cond'; src: url("../fonts/plutosans/PlutoSansCondBold.otf"); font-weight: 600; font-style: normal; }

/******************** VARS ********************/
/******************** BASE ********************/
* { outline: transparent; }

html, body { color: #333333; min-width: 320px; font-family: "Raleway", sans-serif; font-size: 16px; }

h1, h2, h3, h4, h5, h6 { font-family: "Raleway", sans-serif; margin-bottom: 30px; margin-top: 0; font-weight: 800; }

h1 { font-size: 60px; }

h2 { font-size: 48px; }

h3 { font-size: 36px; }

h6 { font-size: 16px; }

a { color: #333333; text-decoration: none !important; transition: color .2s ease-in-out, background .2s ease-in-out; }

a:hover { color: #00ded5; }

p { line-height: 25px; font-family: "Raleway", sans-serif; font-weight: 300; }

p:last-child { margin-bottom: 0; }

section { padding: 30px 0; }

::-webkit-input-placeholder { font: 14px verdana, arial, sans-serif; }

:-moz-placeholder { font: 14px verdana, arial, sans-serif; }

::-moz-placeholder { font: 14px verdana, arial, sans-serif; }

:-ms-input-placeholder { font: 14px verdana, arial, sans-serif; }

/******************** CLASSES ********************/
.nopadding { padding: 0; }

.row.rowflex { display: flex; }

@media (min-width: 768px) { .row.rowflex-sm { display: flex; } }

@media (min-width: 992px) { .row.rowflex-md { display: flex; } }

@media (min-width: 1200px) { .row.rowflex-lg { display: flex; } }

figure.fit { background-repeat: no-repeat; background-position: center center; background-size: cover; width: 100%; height: 0; padding-bottom: 100%; overflow: hidden; }

.text-center { text-align: center; }

.clear { clear: both; }

.no-padding { padding: 0 !important; }

/******************** BANNER ********************/
.top-banner { height: 100%; height: 80vh; background-attachment: fixed; }

.top-banner-page { height: 100%; height: 45vh; background-attachment: fixed; }

.top-banner-page:before { content: ''; background: rgba(0, 222, 213, 0.3); position: absolute; top: 0; width: 100%; height: 100%; transform-origin: top; }

/******************** FOOTER ********************/
.pre-footer { background-color: #00ded5; padding: 15px; position: relative; }

.pre-footer img { max-width: 100%; margin-top: 20px; }

.pre-footer .menu-footer { margin-top: 50px; }

.pre-footer .menu-footer li { list-style: none; display: inline-block; margin-left: 13px; }

.pre-footer .menu-footer li .fa-circle { color: #333333; }

.pre-footer .menu-footer li .fa-inverse { color: #00ded5; }

.pre-footer .menu-footer li a { color: #333333; text-transform: uppercase; font-size: 14px; }

footer { text-align: center; padding: 5px; font-size: 13px; }

@media (min-width: 768px) { #header.top-fixed { box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1); background: #00ded5; border-bottom: none; }
  #header.top-fixed .navbar-brand { padding: 15px 0; }
  #header.top-fixed .navbar-brand img { width: 200px; }
  #header.top-fixed #menu ul > li > a { padding-top: 28px; padding-bottom: 20px; }
  #header.top-fixed a:hover { color: #fff !important; } }

#header.open .navbar-header #menu-toggle .icon-bars { background: transparent !important; }

#header.open .navbar-header #menu-toggle .icon-bars:before { top: 0; transform: rotate(45deg); transition-delay: 0s, .3s; }

#header.open .navbar-header #menu-toggle .icon-bars:after { bottom: 0; transform: rotate(-45deg); transition-delay: 0s, .3s; }

/******************** RESPONSIVO ********************/
@media (max-width: 767px) { /***** BASE *****/
  body { padding-top: 70px; }
  h1 { font-size: 42px; }
  h2 { font-size: 36px; }
  h3 { font-size: 28px; }
  h6 { font-size: 16px; }
  /***** HEADER *****/
  #header { box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1); background: #00ded5; }
  #header .navbar-brand { padding: 0 0; margin-left: 15px; }
  #header .navbar-brand img { height: 70px; width: 60%; padding: 10px; }
  #header #menu { background: #00ded5; border-top: solid 5px #fff; float: none; position: fixed; top: 70px; left: 100%; bottom: 0; width: 100%; transition: left .6s ease-in-out, top .4s ease-in-out; display: flex; align-items: center; justify-content: center; }
  #header #menu ul { width: 100%; padding: 0; }
  #header #menu ul > li { float: none; margin: 0; }
  #header #menu ul > li:nth-child(5) { margin-right: 0; }
  #header #menu ul > li > a { padding: 8px 15px; margin-bottom: 2px; margin-left: 0; }
  #header #menu ul > li > a:after { content: none; }
  #header #menu ul > li > a:before { content: ''; display: block; position: absolute; top: 50%; left: 0; height: 20px; border-left: 14px solid #fff; transform: translateY(-50%); }
  #header #menu ul > li:last-child > a { margin-bottom: 0; }
  #header.open #menu { left: 0%; }
  .sessao-video-home h2 { width: 75%; }
  .sessao-video-home h3 { width: 65%; }
  .news-home h2 { width: 45%; }
  .instagram-home h2 { width: 45%; }
  .news-page h2 { width: 45%; }
  .cases-page h2 { width: 45%; }
  .contato-page h2 { width: 45%; }
  .especialidade-page h2 { width: 45%; }
  .sobre-page h2 { width: 45%; }
  .pre-footer { text-align: center; }
  .pre-footer .menu-footer { padding: 0; }
  .pre-footer .menu-footer li { margin-left: 0; display: block; }
  .contato-page .btn-newlife:after { left: 50px; } }

@media (min-width: 768px) and (max-width: 991px) { /***** HEADER *****/
  #header .navbar-brand { padding: 25px 0; }
  #header .navbar-brand img { height: 36px; }
  #header #menu ul { font-size: 14px; }
  #header #menu ul > li > a { padding: 28px 12px; } }

@media (min-width: 768px) and (max-width: 1200px) { .sessao-video-home h2 { width: 75%; }
  .sessao-video-home h3 { width: 65%; }
  .news-home h2 { width: 45%; }
  .instagram-home h2 { width: 45%; }
  .pre-footer { text-align: center; }
  .pre-footer .menu-footer { padding: 0; }
  .pre-footer .menu-footer li { margin-left: 0; display: block; }
  #header #menu ul > li > a { padding: 28px 3px; }
  #header #menu ul > li > a { font-size: 12px; }
  #header #menu ul > li:nth-child(5) { margin-right: 0; }
  #header #menu .logo { position: absolute; left: 0px; bottom: -20px; } }

/*# sourceMappingURL=style.css.map */