/******************** FONTS ********************/
/*** PLUTO ***/
/* Light */
@font-face {
  font-family: 'Pluto';
  src: url("assets/fonts/pluto/PlutoLight.otf");
  font-weight: 300;
  font-style: normal; }
/* Regular */
@font-face {
  font-family: 'Pluto';
  src: url("assets/fonts/pluto/PlutoRegular.otf");
  font-weight: normal;
  font-style: normal; }
/* Medium */
@font-face {
  font-family: 'Pluto';
  src: url("assets/fonts/pluto/PlutoMedium.otf");
  font-weight: 500;
  font-style: normal; }
/* Bold */
@font-face {
  font-family: 'Pluto';
  src: url("assets/fonts/pluto/PlutoBold.otf");
  font-weight: 600;
  font-style: normal; }
/* Black */
@font-face {
  font-family: 'Pluto';
  src: url("assets/fonts/pluto/PlutoBlack.otf");
  font-weight: 800;
  font-style: normal; }
/*** PLUTO SANS ***/
/* Regular */
@font-face {
  font-family: 'Pluto Sans';
  src: url("assets/fonts/plutosans/PlutoSansRegular.otf");
  font-weight: normal;
  font-style: normal; }
/* Bold */
@font-face {
  font-family: 'Pluto Sans';
  src: url("assets/fonts/plutosans/PlutoSansBold.otf");
  font-weight: 600;
  font-style: normal; }
/*** PLUTO SANS COND ***/
@font-face {
  font-family: 'Pluto Sans Cond';
  src: url("assets/fonts/plutosans/PlutoSansCondLight.otf");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Pluto Sans Cond';
  src: url("assets/fonts/plutosans/PlutoSansCondRegular.otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Pluto Sans Cond';
  src: url("assets/fonts/plutosans/PlutoSansCondBold.otf");
  font-weight: 600;
  font-style: normal; }

/******************** VARS ********************/

$verde: #78B33E;
$white: #fff;
$black: #000;
$Azul: #00ded5;
$Rosa: #b80455;
$RosaClaro: #ff0064;
$Cinza: #f2edec;

$text: #666666;

$Pluto: 'Pluto';
$PlutoSans: 'Pluto Sans';
$PlutoSansCond: 'Pluto Sans Cond';
/******************** BASE ********************/

* { outline: transparent; }

html, body {
    color: $text;
    min-width: 320px;

    font-family: $Pluto;
    font-size: 16px;

    // line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $Pluto;
    margin-bottom: 30px;
    margin-top: 0;

    font-weight: 800;
}

h1 { font-size: 60px; }
h2 { font-size: 48px; }
h3 { font-size: 36px; }
h6 { font-size: 16px; }

a {
    color: $text;
    text-decoration: none !important;
    transition: color .2s ease-in-out, background .2s ease-in-out;
    &:hover {
        color: $Azul;
    }
}
p{
  line-height: 25px;
  font-family: $Pluto;
  font-weight: 300;
}
p:last-child { margin-bottom: 0; }

section {
    padding: 30px 0;
}
::-webkit-input-placeholder {
   font: 14px verdana, arial, sans-serif;
}

:-moz-placeholder {
   font: 14px verdana, arial, sans-serif;
}

::-moz-placeholder {
   font: 14px verdana, arial, sans-serif;
}

:-ms-input-placeholder {  
   font: 14px verdana, arial, sans-serif;
}

/******************** CLASSES ********************/
.nopadding { padding: 0; }

.row.rowflex { display: flex; }
@media (min-width: 768px) { .row.rowflex-sm { display: flex; } }
@media (min-width: 992px) { .row.rowflex-md { display: flex; } }
@media (min-width: 1200px) { .row.rowflex-lg { display: flex; } }

// figures

figure.fit {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
}

.text-center{
  text-align: center;
}
.clear{
  clear: both;
}
.no-padding {
    padding: 0 !important;
}

.btn-verde{
  background: #0ca614;
  border-radius: 20px;
  color: $white;
  text-transform: uppercase;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  &:hover{
    background: $RosaClaro;
    color: $white;
  }
}

/**************** INICIO POWERSHAPE ****************/

/******************** BANNER ********************/

.top-banner { 
  img{
    max-width: 100%;
    height: auto;
  }
  .btn-verde{
    position: relative;
    top: -200px;
    left: 31%;
  }
}

/******************** SESSAO 1 ********************/
.powershape-sessao-1{
  background: $Rosa;
  h2{
    font-size: 30px;
    color: $white;
    text-align: center;
  }
}
/******************** SESSAO 2 ********************/
.powershape-sessao-2{
  text-align: center;
  background: $Cinza;
  h2{
    font-size: 38px;
    color: $Rosa;
    margin-bottom: 40px;
  }
  p{
    padding-bottom: 25px;
  }
}
/******************** SESSAO 3 ********************/
.powershape-sessao-3{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  h2{
    font-size: 38px;
    color: $RosaClaro;
    margin-bottom: 60px;
  }
  img{
    height: 140px;
  }
  figcaption{
    margin-top: 40px;
    color: $RosaClaro;
  }
  .btn-verde{
    margin-top: 60px;
    font-size: 20px;
  }
}

/******************** SESSAO 4 ********************/
.powershape-sessao-4{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  h2{
    font-size: 38px;
    color: $RosaClaro;
    margin-bottom: 60px;
  }
  img{
    height: 140px;
  }
  figcaption{
    margin-top: 40px;
    color: $RosaClaro;
  }
  .btn-verde{
    margin-top: 20px;
    font-size: 20px;
  }
}

/******************** FOOTER ********************/
.powershape-footer{
  text-align: center;
  padding: 5px;
  font-size: 13px;
  background: rgb(32, 32, 32);
  p{
    color: $white;
  }
}

/**************** FIM POWERSHAPE ****************/

/**************** INICIO shock ****************/

/******************** BANNER ********************/

.top-banner { 
  img{
    max-width: 100%;
    height: auto;
  }
  .btn-verde{
    position: relative;
    top: -200px;
    left: 31%;
  }
}

/******************** SESSAO 1 ********************/
.shock-sessao-1{
  background: $Rosa;
  h2{
    font-size: 30px;
    color: $white;
    text-align: center;
  }
}
/******************** SESSAO 2 ********************/
.shock-sessao-2{
  text-align: center;
  background: $Cinza;
  h2{
    font-size: 38px;
    color: $Rosa;
    margin-bottom: 40px;
  }
  p{
    padding-bottom: 25px;
  }
  .btn-verde{
    margin-top: 40px;
  }
}
/******************** SESSAO 3 ********************/
.shock-sessao-3{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  h2{
    font-size: 38px;
    color: $Rosa;
    margin-bottom: 60px;
  }
  .btn-verde{
    margin-top: 60px;
    font-size: 20px;
  }
  .boxshock{
    border: solid 3px $Rosa;
    padding: 60px;
  }
  ul{
    li{
      text-align: left;
      list-style: none;
      color: $Rosa;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 10px;
      &:before{
        content: url('assets/img/shockwave/label.png');
        margin-right: 15px;
        position: relative;
        top: 5px;
      }
    }
  }
}

/******************** SESSAO 4 ********************/
.shock-sessao-4{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  h2{
    font-size: 38px;
    color: $Rosa;
    margin-bottom: 60px;
  }
  .btn-verde{
    margin-top: 20px;
    font-size: 20px;
  }
}

/******************** FOOTER ********************/
.shock-footer{
  text-align: center;
  padding: 5px;
  font-size: 13px;
  background: rgb(32, 32, 32);
  p{
    color: $white;
  }
}

/**************** FIM shock ****************/


/**************** INICIO crio ****************/

/******************** BANNER ********************/

.top-banner { 
  img{
    max-width: 100%;
    height: auto;
  }
  .btn-verde{
    position: relative;
    top: -200px;
    left: 31%;
  }
}

/******************** SESSAO 1 ********************/
.crio-sessao-1{
  background: $white;
  h2{
    font-size: 30px;
    color: #777777;
    text-align: center;
  }
}
/******************** SESSAO 2 ********************/
.crio-sessao-2{
  text-align: center;
  background: $Rosa;
  h2{
    font-size: 38px;
    color: $white;
    margin-bottom: 40px;
  }
  p{
    color: $white;
    padding-bottom: 25px;
  }
  .btn-verde{
    margin-top: 30px;
    font-size: 20px;
  }
}
/******************** SESSAO 3 ********************/
.crio-sessao-3{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background: $white;
  h2{
    font-size: 30px;
    color: $Rosa;
    margin-bottom: 60px;
  }
  .btn-verde{
    margin-top: 60px;
    font-size: 20px;
  }
  .box-crio{
    border: solid 3px $Rosa;
    padding: 60px;
    margin-bottom: 10px;
  }
  ul{
    li{
      text-align: left;
      list-style: none;
      color: $Rosa;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 10px;
      &:before{
        content: url('assets/img/criofrequencia/label.png');
        margin-right: 15px;
        position: relative;
      }
    }
  }
}

/******************** SESSAO 4 ********************/
.crio-sessao-4{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  h2{
    font-size: 38px;
    color: $Rosa;
    margin-bottom: 60px;
  }
  .btn-verde{
    margin-top: 20px;
    font-size: 20px;
  }
}
/******************** SESSAO 5 ********************/
.crio-sessao-5{
  text-align: center;
  padding-top: 60px;
  padding-bottom: 50px;
  background: #f5f7e1;
  h2{
    font-size: 50px;
    color: $Rosa;
    margin-bottom: 60px;
  }
  span{
    color: $Rosa;
    font-size: 30px;
  }
}

/******************** FOOTER ********************/
.crio-footer{
  text-align: center;
  padding: 5px;
  font-size: 13px;
  background: rgb(32, 32, 32);
  p{
    color: $white;
  }
}

/**************** FIM crio ****************/

/**************** INICIO ono ****************/

/******************** BANNER ********************/

.top-banner { 
  img{
    max-width: 100%;
    height: auto;
  }
  .btn-verde{
    position: relative;
    top: -200px;
    left: 31%;
  }
}

/******************** SESSAO 1 ********************/
.ono-sessao-1{
  background: $white;
  p{
    text-align: center;
  }
  h2{
    font-size: 30px;
    color: $RosaClaro;
    text-align: center;
    font-weight: 300;
  }
}
/******************** SESSAO 2 ********************/
.ono-sessao-2{
  text-align: center;
  background: #d03770;
  h2{
    font-size: 38px;
    color: $white;
    margin-bottom: 40px;
  }
  p{
    color: $white;
    padding-bottom: 25px;
  }
  .btn-verde{
    margin-top: 30px;
    font-size: 20px;
  }
}
/******************** SESSAO 3 ********************/
.ono-sessao-3{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background: $white;
  h2{
    font-size: 30px;
    color: $Rosa;
    margin-bottom: 60px;
  }
  .btn-verde{
    margin-top: 60px;
    font-size: 20px;
  }
  img{
    margin-bottom: 40px;
  }
}

/******************** SESSAO 4 ********************/
.ono-sessao-4{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  h2{
    font-size: 38px;
    color: $Rosa;
    margin-bottom: 60px;
  }
  .btn-verde{
    margin-top: 20px;
    font-size: 20px;
  }
}
/******************** SESSAO 5 ********************/
.ono-sessao-5{
  text-align: center;
  padding-top: 60px;
  padding-bottom: 50px;
  h2{
    font-size: 30px;
    color: $Rosa;
    margin-bottom: 60px;
  }
  figcaption{
    font-size: 17px;
    font-weight: 100;
    margin-top: 15px;
    margin-bottom: 25px;
  }
}

/******************** FOOTER ********************/
.ono-footer{
  text-align: center;
  padding: 5px;
  font-size: 13px;
  background: rgb(32, 32, 32);
  p{
    color: $white;
  }
}

/**************** INICIO trilipo ****************/

/******************** BANNER ********************/

.top-banner { 
  img{
    max-width: 100%;
    height: auto;
  }
  .btn-verde{
    position: relative;
    top: -200px;
    left: 31%;
  }
}

/******************** SESSAO 1 ********************/
.trilipo-sessao-1{
  background: #a2006b;
  h2{
    font-size: 30px;
    color: $white;
    text-align: center;
  }
}
/******************** SESSAO 2 ********************/
.trilipo-sessao-2{
  text-align: center;
  background: $Cinza;
  h2{
    font-size: 38px;
    color: $Rosa;
    margin-bottom: 40px;
  }
  p{
    padding-bottom: 25px;
  }
  .btn-verde{
    margin-top: 40px;
  }
}
/******************** SESSAO 3 ********************/
.trilipo-sessao-3{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background: #e4e4e4;
  h2{
    font-size: 38px;
    color: $Rosa;
    margin-bottom: 60px;
  }
  .btn-verde{
    margin-top: 60px;
    font-size: 20px;
  }
  .boxshock{
    border: solid 3px $Rosa;
    padding: 60px;
  }
  ul{
    li{
      text-align: left;
      list-style: none;
      color: $Rosa;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 10px;
      &:before{
        content: url('assets/img/shockwave/label.png');
        margin-right: 15px;
        position: relative;
        top: 5px;
      }
    }
  }
}

/******************** SESSAO 4 ********************/
.trilipo-sessao-4{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  h2{
    font-size: 38px;
    color: $Rosa;
    margin-bottom: 60px;
  }
  .btn-verde{
    margin-top: 20px;
    font-size: 20px;
  }
}
/******************** SESSAO 5 ********************/
.trilipo-sessao-5{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background: $white;
  h2{
    font-size: 38px;
    color: $Rosa;
    margin-bottom: 60px;
  }
  figcaption{
    font-size: 25px;
    font-weight: 100;
    margin-top: 25px;
  }
}


/******************** FOOTER ********************/
.trilipo-footer{
  text-align: center;
  padding: 5px;
  font-size: 13px;
  background: rgb(32, 32, 32);
  p{
    color: $white;
  }
}

/**************** FIM trilipo ****************/


/******************** RESPONSIVO ********************/

// XS
@media (max-width: 767px) {

    /***** BASE *****/

    h1 { font-size: 42px; }
    h2 { font-size: 36px; }
    h3 { font-size: 28px; }
    h6 { font-size: 16px; }


}

// SM
@media (min-width: 768px) and (max-width: 991px) {


}

// MD
@media (min-width: 768px) and (max-width: 1200px) {
  
}

// LG
@media (min-width: 991px) and (max-width: 991px) {

}